<table>
  <tbody>
    <tr *ngFor="let contact of contacts" (click)="onSelect(contact)">
      <div class="ui-g-12" style="padding: .5em;border-bottom: 1px solid #d9d9d9">
        <div class="ui-g-12 ui-md-3" style="text-align:center" >
            <img src="{{contact.avatarUrl}}" style="width: 50px">
        </div>
        <div class="ui-g-12 ui-md-8 car-details">
            <div class="ui-g">
                <div class="ui-g-6 ui-sm-6"><b>Username:</b></div>
                <div class="ui-g-6 ui-sm-6">{{contact.username}}</div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-1 search-icon">
            <button pButton type="button" icon="pi pi-user-plus" (click)="addContact($event, contact)"></button>
        </div>
    </div>
    </tr>
  </tbody>
</table>