<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p-panel header="Register">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Username *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="text" formControlName="username" placeholder="Required - Min(6)" />
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" [text]="form.controls['username'].errors['required'] ? 'Username is required' : form.controls['username'].errors['minlength'] ? 'Must be longer than 6 characters' : ''"
            *ngIf="!form.controls['username'].valid&&form.controls['username'].dirty"></p-message>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2">
          Password *:
        </div>
        <div class="ui-grid-col-6">
          <input pInputText type="password" formControlName="password" placeholder="Required - Min(6)" />
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error"
            [text]="form.controls['password'].errors['required'] ? 'Password is required' : form.controls['password'].errors['minlength'] ? 'Must be longer than 6 characters' : ''"
            *ngIf="!form.controls['password'].valid&&form.controls['password'].dirty"></p-message>
        </div>
      </div>
    
      <div class="ui-grid-row">
        <div class="ui-grid-col-2"></div>
        <div class="ui-grid-col-6">
          <button class="ui-grid-col-3" pButton type="submit" label="Submit" [disabled]="!form.valid"></button>
          <a class="ui-grid-col-8" [routerLink]="['/register']">Do not have an account?</a>
        </div>
        <div class="ui-grid-col-4"></div>
      </div>
     
    </div>
  </p-panel>
</form>
<!-- 





<form nz-form [nzLayout]="'inline'" [formGroup]="form" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixUser">
        <input formControlName="username" nz-input placeholder="Username">
      </nz-input-group>
      <nz-form-explain *ngIf="form.get('username').dirty && form.get('username').errors">Please input your username!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzPrefix]="prefixLock">
        <input formControlName="password" nz-input type="password" placeholder="Password">
      </nz-input-group>
      <nz-form-explain *ngIf="form.get('password').dirty && form.get('password').errors">Please input your Password!</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!form.valid">Log in</button>
    </nz-form-control>
  </nz-form-item>
</form>
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template> -->